body {
    margin: 0;
}

h1,h2,h3,p {
    letter-spacing: 3px;
}

/* header */
.header-left,.header-rigth {
    display: flex;
    color: white;
    letter-spacing: 3px;
}

.header-left {
    margin: 50px;
    float: left;
}

.header-left img {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 4px;
} 

.header-title {
    margin-left: 30px;
}

.header-rigth {
    float: right;
}

.header-navi {
    list-style: none;
    display: flex;
}

.header-navi li{
   margin: 50px 50px 0px 20px;
}

.header-list {
    color: aliceblue;
    text-decoration: none;
}

/* トップ */
.main {
    background-image: url("../img/main/main_image.JPG");
    height: 750px;
    width: 100%;
    border-bottom-left-radius: 460px 30px;
    border-bottom-right-radius: 460px 30px;
}

.main-message {
    clear: both;
    margin: 40px 80px 0 0;
}

.welcome-message {
    text-align: right;
    color: white;
    letter-spacing: 15px;
    line-height: 300px;
}

.profile {
    height: 600px;
    margin-top: 100px;
}

.profile-title {
    margin: auto;
    border-bottom: 2px solid skyblue;
    padding-bottom: 5px;
    width: 100px;
}

.profile-message {
    width: 50%;
    margin: 60px auto;
    line-height: 60px;
}

.profile-message-title {
    text-align: center;
    padding-bottom: 30px;
}

.profile-message p{
    padding-left: 100px;
}

