body {
    margin: 0;
}

h1,h2,h3,p {
    letter-spacing: 3px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

/* header */
.header-left,.header-rigth {
    display: flex;
    color: white;
    letter-spacing: 3px;
}

.header-left {
    margin: 50px;
    float: left;
}

.header-left img {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 4px;
} 

.header-title {
    margin-left: 30px;
}

.header-rigth {
    float: right;
}

.humburger,.sm-nav {
    display: none;
}

.header-navi li{
   margin: 50px 50px 0px 20px;
}

.list-parts,.footer-list-parts {
    color: aliceblue;
    text-decoration: none;
}

/* 共通部分 */
.title {
    margin: auto;
    padding-bottom: 5px;
    width: 100px;
    margin-top: 100px;
    padding-top: 30px;
    border-bottom: 2px solid skyblue;
}

/* トップ */
.main {
    background-image: url("../img/main/main_image.JPG");
    height: 750px;
    width: 100%;
    border-bottom-left-radius: 460px 30px;
    border-bottom-right-radius: 460px 30px;
}

.main-message {
    clear: both;
    margin: 40px 80px 0 0;
}

.welcome-message {
    text-align: right;
    color: white;
    letter-spacing: 15px;
    line-height: 300px;
}

.profile {
    height: 600px;
}

.profile-message {
    width: 50%;
    margin: 60px auto;
    line-height: 60px;
}

.profile-message-title {
    text-align: center;
    padding-bottom: 30px;
}

.profile-message p{
    padding-left: 150px;
}

/* 経歴 */
.history {
    height: 600px;
}

.history-title {
    width: 110px;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-part {
    margin: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 4px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.card-part img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
}

.card-sub-title {
    font-size: 10px;
}

.card-button {
    margin-top: 35px;
    width: 50%;
    border-radius: 10px;
    letter-spacing: 2px;
    height: 30px;
    background-color: white;
    cursor: pointer;
}

.card-button:hover{
    transition: 0.5s;
    color: white;
}

.button-one {
    border-color: skyblue;
    color: skyblue;
}

.button-one:hover{
    background-color: skyblue;
}

.button-two {
    border-color: rgb(135, 235, 207);
    color: rgb(135, 235, 207);
}

.button-two:hover{
    background-color: rgb(135, 235, 207);
}

.button-three {
    border-color: rgb(184, 249, 19);
    color: rgb(184, 249, 19);
}

.button-three:hover{
    background-color: rgb(184, 249, 19);
}

/* ポートフォリオ */
.portfolio {
    background-color: rgb(249, 245, 241);
}

.portfolio-title{
    width: 148px;
    padding-top: 60px;
}

.portfolio-main {
    height: 1800px;
    width: 40%;
    margin: auto;
}

.portfolio-card {
    margin-top: 100px;
    box-shadow: 0 0 4px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 500px;
}

.portfolio-img{
    position: relative;
}

.portfolio-img p{
    color: tan;
    position: absolute;
    bottom: 5px;
    left: 20px;
}

.portfolio-img img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.portfolio-message p{
    padding-left: 20px;
    letter-spacing: 1px;
    opacity: 0.4;
}

.portfolio-button-list {
    display: flex;
}

.portfolio-button {
    width: 20%;
    margin: 30px 0 0 0px;
    border-radius: 10px;
    letter-spacing: 2px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: tan;
    transition: 1s;
}

.portfolio-button:hover {
    opacity: 0.5;
    background-color: antiquewhite;
}

.blog-heading {
    color: black;
}

/* sns */
.sns {
    height: 190px;
    position: relative;
}

.back-button,.back-button-solid {
    margin: auto;
}

.back-button {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: white;
    border-radius: 60px;
    padding: 15px 10px 10px 10px;
    top: -10%;
    left: 0;
    right: 0;
}

.back-button-solid {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    transform: rotate(45deg);
    border-color: black transparent transparent black;
    cursor: pointer;
}

.back-button-solid:hover{
    transition: 0.5s;
    opacity: 0.5;
}

.sns-button {
    padding-top: 40px;
}

.sns-button-list {
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

.sns-button-part {
    box-sizing: border-box;
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 40px;
    border: 2px solid black;
    margin: 0px 100px 0px 100px;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.sns-button-part a{
    color: black;
}

.sns-button-part:hover,.sns-button-part a:hover{
    transition: 0.3s;
    color: white;
    border: none;
}

.twitter:hover{
    background-color: skyblue;
}

.facebook:hover {
    background-color: rgb(8, 120, 248);
}

.line {
    text-align: center;
    font-size: 10px;
    letter-spacing: 0px;
    line-height: 28px;
}

.line:hover{
    background-color: springgreen;
}

/* フッター */
.footer-url {
    height: 150px;
    background-color: rgb(210, 191, 151);
}

.footer-list {
    padding-left: 40px;
    line-height: 150px;
    justify-content: center;
    align-items: center;
}

.footer-list-parts {
    padding: 0px 50px;
}

footer {
    height: 50px;
    background-color: rgb(188, 158, 97);
}

.footer-message p{
    font-size: 10px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 50px;
    margin-top: 0px;
    color: white;
}

/* レスポンシブ */
@media screen and (max-width: 480px) {
    body {
        max-width: 375px;
        box-sizing: border-box;
    }

    .container {
        overflow: hidden;
    }

    header {
        height: 80px;
        z-index: 10;
        width: 100%;
        background-color: rgba(34, 49, 52, 0.9);
    }

    .header-left {
        margin: 10px;
    }

    .header-left img{
        height: 50px;
        width: 50px;
    }
    
    .header-title {
        display: none;
    }

    .pc{
        display: none;
    }

    /* ハンバーガー */
    .humburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 5px;
        width: 50px;
        height: 44px;
        cursor: pointer;
        transition: 1s;
    }

    .icon span {
        position: absolute;
        left: 3px;
        top: 30px;
        width: 30px;
        height: 4px;
        background-color: rgb(255, 255, 255);
        border-radius: 8px;
        transition: ease 0.75s;
    }

    .icon span:nth-of-type(1) {
        top: 0px;
    }

    .icon span:nth-of-type(2) {
        top: 15px;
    }

    .icon span:nth-of-type(3) {
        bottom: 0px;
    }

    .close span:nth-of-type(1) {
        top: 15px;
        transform: rotate(-45deg);
    }

    .close span:nth-of-type(2) {
        opacity: 0;
    }

    .close span:nth-of-type(3) {
        top: 15px;
        transform: rotate(45deg);
    }

    .sm-nav {
        position: absolute;
        top: 80px;
        z-index: 10;
        width: 100%;
        background-color: rgba(34, 49, 52, 0.9);
        display: block;
        height: 427px;
    }

    .sm-nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center; 
        padding-left: 0px;
      }

    .sm-nav li {
        display: block;
        height: 80px;
        border-bottom: 2px solid aliceblue;
      }
    
    .sm-nav a{
        line-height: 80px;
        color: white;
      }

      /* main message */
    .main {
        background-image: url("../img/main/main_image.JPG");
        height: 550px;
        width: 100%;
        background-size: cover;
        margin: auto;
        text-align: center;
        position: relative;
    }

    .main-message {
        margin-top: 0px;
    }

    .welcome-message {
        position: absolute;
        bottom: 0;
         right: 70px;
    }

    .message-span {
        display: none;
    }

    /* プロフィール */
    .profile {
        height: 500px;
    }

    .profile-message {
        line-height: 30px;
    }

    .profile-message-title {
        font-size: 24px;
    }

    .profile-message p{
        padding-left: 0px;
        font-size: 11px;
    }

    /* 経歴 */
    .card {
        flex-direction: column;
        align-items: center;
    }

    .history {
        height: 1400px;
    }

    .history-title {
        margin-top: 50px;
    }

    /* ポートフォリオ */
    .card-part {
        width: 70%;
        height: 400px;
        margin: 30px;
    }
    
    .card-part img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .portfolio-main {
        height: 2000px;
        width: 80%;
    }

    .portfolio-card  {
        height: 530px;
    }

    .portfolio-img p{
        left: 10px;
    }
    
    .portfolio-message-first,.portfolio-message-second,.portfolio-message-third {
        text-align: center;
        font-size: 20px;
    }
    
    .portfolio-message p{
        padding-left: 10px;
    }
    
    .portfolio-button-list {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .portfolio-button {
        width: 50%;
        margin-top: 15px;
    }

    .portfolio-last-button {
        width: 100%;
        margin-top: 5px;
    }

    /* sns */
    .sns-button-list {
        flex-wrap: wrap;
    }

    .sns-button-part {
        margin: 0px 30px 0px 30px;
        border: none;
    }

    .sns-button-part a{
        color: white;
    }

    .twitter{
        background-color: skyblue;
    }
    
    .facebook{
        background-color: rgb(8, 120, 248);
    }
    
    .line {
        background-color: springgreen;
    }

    .footer-url {
        text-align: center;
        height: 300px;
    }

    .footer-list {
        display: block;
        padding-left: 0px;
        line-height: 60px;
    }

    .footer-list li{
        display: block;
        height: 60px;
        border-bottom: 2px solid aliceblue;
    }

}

