body {
    margin: 0;
}

h1,h2,h3,p {
    letter-spacing: 3px;
}

/* header */
.header-left,.header-rigth {
    display: flex;
    color: white;
    letter-spacing: 3px;
}

.header-left {
    margin: 50px;
    float: left;
}

.header-left img {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 0px 4px;
} 

.header-title {
    margin-left: 30px;
}

.header-rigth {
    float: right;
}

.header-navi {
    list-style: none;
    display: flex;
}

.header-navi li{
   margin: 50px 50px 0px 20px;
}

.header-list {
    color: aliceblue;
    text-decoration: none;
}

/* 共通部分 */
.title {
    margin: auto;
    padding-bottom: 5px;
    width: 100px;
    margin-top: 100px;
    padding-top: 30px;
    border-bottom: 2px solid skyblue;
}

/* トップ */
.main {
    background-image: url("../img/main/main_image.JPG");
    height: 750px;
    width: 100%;
    border-bottom-left-radius: 460px 30px;
    border-bottom-right-radius: 460px 30px;
}

.main-message {
    clear: both;
    margin: 40px 80px 0 0;
}

.welcome-message {
    text-align: right;
    color: white;
    letter-spacing: 15px;
    line-height: 300px;
}

.profile {
    height: 600px;
}

.profile-message {
    width: 50%;
    margin: 60px auto;
    line-height: 60px;
}

.profile-message-title {
    text-align: center;
    padding-bottom: 30px;
}

.profile-message p{
    padding-left: 150px;
}

/* 経歴 */
.history {
    height: 600px;
}

.history-title {
    width: 110px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-part {
    margin: 100px;
    box-sizing: border-box;
    box-shadow: 0 0 4px;
    width: 400px;
    height: 400px;
    text-align: center;
}

.card-part img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
}

.card-sub-title {
    font-size: 10px;
}

.card-button {
    margin-top: 35px;
    width: 50%;
    border-radius: 10px;
    letter-spacing: 2px;
    height: 30px;
    background-color: white;
    cursor: pointer;
}

.card-button:hover{
    transition: 0.5s;
    color: white;
}

.button-one {
    border-color: skyblue;
    color: skyblue;
}

.button-one:hover{
    background-color: skyblue;
}

.button-two {
    border-color: rgb(135, 235, 207);
    color: rgb(135, 235, 207);
}

.button-two:hover{
    background-color: rgb(135, 235, 207);
}

.button-three {
    border-color: rgb(184, 249, 19);
    color: rgb(184, 249, 19);
}

.button-three:hover{
    background-color: rgb(184, 249, 19);
}

/* ポートフォリオ */
.portfolio {
    background-color: rgb(249, 245, 241);
}

.portfolio-title{
    width: 148px;
    padding-top: 60px;
}

.portfolio-main {
    height: 1800px;
    width: 40%;
    margin: auto;
}

.portfolio-card {
    margin-top: 100px;
    box-shadow: 0 0 4px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: 500px;
}

.portfolio-img{
    position: relative;
}

.portfolio-img p{
    color: tan;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.portfolio-img img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.portfolio-message p{
    padding-left: 20px;
    letter-spacing: 1px;
    opacity: 0.4;
}

.portfolio-button-list {
    display: flex;
}

.portfolio-button {
    width: 20%;
    margin: 30px 0 0 0px;
    border-radius: 10px;
    letter-spacing: 2px;
    height: 30px;
    background-color: white;
    cursor: pointer;
    border: none;
    color: tan;
    transition: 1s;
}

.portfolio-button:hover {
    opacity: 0.5;
    background-color: antiquewhite;
}

.blog-heading {
    color: black;
}

/* sns */

.sns {
    height: 200px;
    position: relative;
}

.back-button,.back-button-solid {
    margin: auto;
}

.back-button {
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: white;
    border-radius: 60px;
    padding: 10px;
    padding-top: 15px;
    top: -10%;
    left: 0;
    right: 0;
}

.back-button-solid {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    transform: rotate(45deg);
    border-color: black transparent transparent black;
    cursor: pointer;
}

.back-button-solid:hover{
    transition: 0.5s;
    opacity: 0.5;
}

.sns-button {
    padding-top: 40px;
}

.sns-button-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}